{% extends 'flatpages/default.html' %}


{% block title %}
Post
{% endblock title %}


{% block content %}
<table>
            <tr>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Дата</td>
            </tr>

            <tr>
                <td>{{post.header}}</td>
                <td>{{post.content}}</td>
                <td>{{post.datetime|date:'d M Y'}}</td>
            </tr>
</table>


{% if request.user.is_authenticated %}
<!--author_of_post == username-->
<button><a href="{{post.id}}/delete">Удалить пост</a></button>
<button><a href="{{post.id}}/update">Редактировать пост</a></button>
{% endif %}
<button><a href="/">Вернуться на главную страницу</a></button>
{% endblock content %}