{% extends 'flatpages/default.html' %}
{% load embed_video_tags %}

{% block title %}
Post
{% endblock title %}


{% block content %}
<table>
            <tr>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Дата</td>
                {% if post.image %}
                <td>Картинки</td>
                {% endif %}
                <td>Видео</td>
            </tr>

            <tr>
                <td>{{post.header}}</td>
                <td>{{post.content}}</td>
                <td>{{post.datetime|date:'d M Y'}}</td>
                {% if post.image %}
                <td><img class="img-fluid rounded " src="{{ post.image.url }}" alt=""></td>
                {% endif %}
                <td>
                    {% video post.video as my_video %}
                    {% video my_video 'small' %}
                    {% endvideo %}
                </td>
            </tr>
</table>


{% if request.user.is_authenticated %}
<!--author_of_post == username-->
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form }}
            <input type="submit" value="Save">
        </div>
    </form>
{% if author_of_post %}
<button><a href="{{post.id}}/delete">Удалить пост</a></button>
<button><a href="{{post.id}}/update">Редактировать пост</a></button>
{% endif %}
{% else %}
<a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
{% endif %}


<button><a href="/">Вернуться на главную страницу</a></button>
{% endblock content %}