{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<div class="container">
     <div class="row">
         <div class="col-lg-3">
             <h2 class="my-4">All your posts</h2>
             <div class="list-group">
                 {% for post_reply in post_replys %}
                     <a href="{% url 'reply_post' post_reply.id %}" class="list-group-item">
                         {{ post_reply.header }}
                     </a>
                 {% endfor %}
             </div>
         </div>
     </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="my-4">Comments </h2>
        </div>
    </div>
</div>

<br>
<div class="container">
    {% for reply in page_obj %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="list-group">
                    <div class="card">
                        <div class="card-header">
                            {{reply.author}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{reply.datetime}}</h5>
                            <p class="card-text">{{ reply.content}}</p>
                            {% if reply.confirmation == True %}
                            <a href="{% url 'reply_unconfirmed' reply.id %}">Delete</a>
                            {% else %}
                            <a href="{% url 'reply_confirmed' reply.id %}">Confirme</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>


{% if request.user.is_authenticated %}
    <button><a href="/logout">Выйти</a></button>
{% endif %}

{% endblock content %}